<div class="card card-body m-2" style="background-color: #121212; color: white;">
  <h1 class="text-center">ONE PIECE CHARACTER</h1>
  <form (ngSubmit)="addCharacter()">

    <div class="my-1">
      <label class="form-label">NAME :</label>
      <input type="email" class="form-control" name="NameCharacter" [(ngModel)]="newCharacter.name">
    </div>

    <div class="my-1">
      <label class="form-label">STATUS :</label>
      <input type="email" class="form-control" name="StatysCharacter" [(ngModel)]="newCharacter.status">
    </div>

    <div class="mb-3">
      <label class="form-label">AGE :</label>
      <input type="email" class="form-control" name="AgeCharacter" [(ngModel)]="newCharacter.age">
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-primary" id="btnGenerate">ADD CHARACTER</button>
    </div>

  </form>
</div>

